In [24]:
def double(x):
    return x*2
def add(x,y):
    return x+y  
def mx(x,y):
    if x>y:
        return x
    else:
        return y
lambda x:x*2
lambda x,y:x+y
lambda x,y:x if x>y else y

In [14]:
n=45678
for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [16]:
c=45678
digits=[int(d) for d in str(c)]
print (digits)
for digit in digits:
    print(digit)

[4, 5, 6, 7, 8]
4
5
6
7
8

In [17]:
a=[1,2,3]
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [12]:
names=['Ema','Tom','Hinton']
looper=names.__iter__()
print(looper)

<list_iterator object at 0x7981583cc940>

In [13]:
looper=iter(names)
print(next(looper))

Ema

In [14]:
print(next(looper))

Tom

In [15]:
print(next(looper))

Hinton

In [16]:
print(next(looper))

StopIteration:

In [23]:
looper=iter(names)
while True:
    try:
        name=next(looper)
        print(name)
    except StopIteration:
        break

Ema
Tom
Hinton

In [28]:
def square (x):
    return x*x
numbers=[1,2,3,4,5]
print(map(square,numbers))

<map object at 0x7981583c8820>

In [29]:
def square (x):
    return x*x
numbers=[1,2,3,4,5]
print(list(map(square,numbers)))

[1, 4, 9, 16, 25]

In [4]:
def double(x):
    return x*2
lambda x:x*2

In [11]:
def square(x):
    return x*x
numbers=[1,2,3,4,5]
print(list(map(square,numbers)))

[1, 4, 9, 16, 25]

In [19]:
num=[1,2,3,4,5]
print(list(map(lambda x:x*x,num)))

[1, 4, 9, 16, 25]

In [17]:
print(list(filter(lambda x:x>3,num)))

[4, 5]

In [22]:
def string_to_lower(input_string):
    return input_string.lower()

my_string = "Hello World!"
lowercase_string = string_to_lower(my_string)
print(lowercase_string)

hello world!

In [28]:
def list(names):
    return names.lower()
names=['Alice','Bob','Charlie']
for i in names:
    lowercase_string=list(i)
    print(lowercase_string)

alice
bob
charlie

In [24]:
from functools import reduce
print(reduce(lambda x,y:x+y,numbers))

15